.objectives{
    
}

/* add some margin below each objective */
.objectives .objective{
    font-size: .85em;
    margin-bottom: 5px;
}

/* remove margin on the bottom for last objective */
.objectives .objective:last-child{
    /* margin-bottom: 0; */
}

.objectives .met{
    color: #00a627;
}

.objectives .not-met{
    color: #ff1122;
}


.objectives .points{
    font-size: 1.20em;    
}

