
.content .submit{    
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
}

.content .submit .objectives{
    margin-bottom: 20px;
}

.content .submit .story{
    margin-bottom: 20px;
}

.content .submit .submission-field{

}