

.container{
  display: grid;
  grid-template-columns: 100%;
}

header{
  background: #bfe6ff;
  padding: 20px;
}

.progress-bar{
  background: #cbfcff;
  padding: 20px;
}


.content{
  background: #c3ffcb;
  padding: 20px;
}


.primary-nav{
  background: #fbffc4;
  padding: 20px;
}

footer{
  background: #ffd9c7;
  padding: 20px;
}


/*tic tac to*/
/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  } */
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
/* styles */

body {
  /* background-color: #FFCC00; */
  /* padding: 20px; */
  margin: 0;
}
/* h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
} */